<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Tech Stack For POC</h3>
  </div>
  <div class="panel-body">
<ul class="list-group">
  <li class="list-group-item"><a href="http://getbootstrap.com/">Boostrap</a></li>
  <li class="list-group-item"><a href="https://nodejs.org/en/">node.js</a></li>
  <li class="list-group-item"><a href="https://expressjs.com/">express.js</a></li>
  <li class="list-group-item"><a href="https://jquery.com/">jQuery</a></li> 
  <li class="list-group-item"><a href="https://www.microsoft.com/cognitive-services/en-us/text-analytics-api">MS Text Analytics</a></li>
</ul>
  </div>
</div>