      <div class="jumbotron">
        <h1 class="display-3">MS Text Analytics API for FAQ</h1>
        <p class="lead">This is a simple client that calls MS Text Analytics API to identify key phrases to be used as a key-lookup for an simple FAQ. This will require a database to store the keyword-to-answer associations.</p>
        <p><a class="btn btn-lg btn-success" href="/faq" role="button">Try it Out</a></p>
      </div>
      <div class="row marketing">
        <!-- some key points here? -->
      </div>